.card{
    border: 1px solid red;
    border-radius: 20px;
    color: black;
    overflow: hidden;
}
.card > .cardHeader{
    background: #6e6e6e;
    height: 200px;
    width: 300px;
}
.card > .cardHeader > img{
    width:100%;
    height:100%;
}
.card > .cardBody{
    background: #d6d6d6;
    height: 100px;
    position: relative;
}
.card > .cardBody > h3{
    text-align:start;
    margin: 0;
}
.card > .cardBody > p{
    margin: 0;
}
.card > .cardBody > button{
    padding: 2px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: black;
    color:red;
}
.card > .cardBody > h5{
    background-color: #8f8f8f;
    display: inline-block;
    border: 2px solid #5a5a5a;
    border-radius: 10px;
}




